* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.logo h1 {
    color: white;
    font-weight: 700;
    font-size: 32px;
}

.nav-opt a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: solid gray underline;
    text-underline-offset: 4px; /* space between text and underline */

}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    flex-wrap: wrap;
    background-color: #270082;
    box-shadow: 2px 2px 3px black;
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 100;
}

.logo {
    display: flex;
    justify-content: flex-start;
    height: 100px;
    width: 500px;
    margin: 10px;
    margin-top: 0px;
    padding: 30px;
}

.nav-opt {
    display: flex;
    justify-content: flex-start;
    height: 100px;
    width: 400px;
    margin: 10px;
    margin-top: 0px;
    padding: 30px;
    gap: 25px;
    padding-top: 40px;
}


.main-sec {
    width: 100%;
    height: 1400px;
    background-color: #281154;

}

.hero-2-sec {
    width: 90vw;
    height: 1000px;
    /* background-color: aquamarine; */
    border: 2px solid dark;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 70px;
    padding: 20px;
}

.hero-img-2 {
    background-image: url("ipad-iphone.png");
    background-size: 100% auto;
    width: 80vw;
    height: 900px;
    background-position: center center;
    /* 🔥 THIS centers the image */
    background-repeat: no-repeat;
    z-index: 50;
}

.hero-img {
    background-image: url("heroimg_music.jpg");
    background-size: cover;
    width: 100%;
    height: 800px;
}

.hero {
    height: 400px;
    z-index: 50;
    display: flex;
    margin-top: 0px;
    padding: 250px;
    margin-left: 50px;
}

.hero-cont {
    text-align: center;

    color: white;
    line-height: 1.5;
}

.main-line {
    font-size: 80px;
    letter-spacing: 2px;
    font-weight: 900;
}

.hero-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero2-ml h2 {
    text-align: center;
    font-weight: 700;
    padding: 10px;
    margin: 30px;
}

.hero-2-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.5;
    width: 80%;
}

.btn button {
    background-color: rgb(200, 0, 0, 0.5);
    color: white;
    padding: 10px;
    margin: 30px;
}

.btn button:hover {
    background-color: rgb(7, 94, 7);
}

.sub-contents {
    /* background-color: cornflowerblue; */
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.5;
    width: 80%;
    height: 300px;
    margin: 20px;
    padding: 20px;
    margin-left: 140px;
    margin-bottom: 50px;
    gap: 30px;
}

.sub3 button,
.rdm {
    background-color: #281154;
    color: white;
    padding: 5px;
}

.sub3 button:hover,
.rdm:hover {
    opacity: 0.7;
}

.hero-3-sec {
    /* background-color: darkmagenta; */
    background-image: url("mac.png");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    height: 1000px;
    width: 90%;
    padding: 10px;
    margin-left: 45px;
}

.hero-4-sec {
    background-image: url("concerrt.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 1000px;
    width: 100%;
}

.hero-4-cont {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 900px;
    padding: 20px;
    margin: auto;
    gap: 20px;
}

.main-hero-4 h3 {
    font-weight: 700;
    text-align: center;
    margin-top: 250px;

}

.support p {
    text-align: center;
    color: blanchedalmond;
}

.gift-content {
    display: flex;
    justify-content: space-around;
    height: 500px;
    width: 90%;
    margin-left: 70px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.gift-img {
    background-image: url("gift_card.png");
    background-size: auto;
    background-repeat: no-repeat;
    height: 500px;
    width: 500px;

}

.gift-cont {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 400px;
    width: 600px;
    gap: 30px;
    margin-left: 0px;
    padding: 20px;
}

.rdm {
    display: inline-block;
    width: auto;
    align-self: flex-start;
}

footer {
    height: 300px;
    width: 100%;
    color: white;
    background-color: #281154;
    margin-top: 0px;
}

.footer-contnrs {
    display: flex;
    justify-content:space-around;
    height: 250px;
    width: 100%;
    gap: 15px;
    padding:10px;
}
.foot-heading{
    text-decoration: solid white underline;
}
a{
    display: block;
        
}
.foot-ele ul {
    list-style: none;
    display: flex;  
    flex-direction: column;       /* or use flex-direction: column if vertical */
    gap: 10px;             /* now this will actually work! */
    padding: 0;
    margin: 0;
  }
  
.foot-ele li{
    list-style-type: none;
}
.foot-cont1,
.foot-cont2,
.foot-cont3,
.foot-cont4 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 230px;
    width: 600px;
    gap: 15px;
    margin:40px;
}
.foot-cont1{
    margin-left: 90px;
}
.foot-ele{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height:300px;
    width:150px;
}

.foot-ele a{
    text-decoration: none;
    color:white;
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    height:60px;
    width:100%;
    background-color: #270082;
}
.copyright p{
    text-align:center;
    color:white;
}